{% extends 'index.html' %}
{% load static %}

{% block main %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'register' %}">Register</a>
                    <span class="breadcrumb-item active">SendCode</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- SendCode Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4"><span class="bg-secondary pr-3">Send Code</span></h2>

        <!-- Messages -->
        {% if messages %}
            {% for message in messages %}
            <div id="customAlert" class="custom-alert-overlay">
                <div class="custom-alert-box">
                    <p class="custom-alert-title">Code invalid</p>
                    <p class="custom-alert-text">{{ message }}</p>
                    <div class="custom-alert-actions">
                        <button class="custom-alert-btn" onclick="document.getElementById('customAlert').style.display='none'">OK</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        <div class=" px-xl-5">
            <div class=" mb-5 contact-us">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>

                    <form method="post">
                        {% csrf_token %}

                        <div class="control-group">
                            {{ form.as_p }}
                            <p class="help-block text-danger"></p>
                        </div>
                        <a href="{% url 'send_again_otp' %}?email={{ request.GET.email }}" class="control-group">
                            send code again
                            <p class="help-block text-danger"></p>
                        </a>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- SendCode End -->
{% endblock %}